@import "../common/common-mixins";
@import "../common/config";
@import "../common/icons";
@import "../common/media-query-mixins";

.front-page {
	$front-page-width: 1200px;
	$content-gutter: $spacer * 4;

	&__header {
		height: 600px;
		background-image: url("../images/page-header-bg-blue.png"),
			url("../images/page-header-bg-yellow.png");
		// If you change the top offset for the blue background, you also need to
		// update the parallax effect definition in public/assets/scripts/index.js.
		background-position: center 40px, center top;
		background-repeat: repeat-x, repeat-x;
		overflow: hidden;

		// By default we optimize for small screens and show the boat bellow the
		// header text.

		h1 {
			text-shadow: 2px 2px 8px rgba(255, 255, 255, 0.6);
			text-align: center;
			line-height: 1;
			margin: 0;
		}

		&__title {
			font-size: 7.5rem;
			font-weight: bold;
			display: block;
		}

		&__subtitle {
			font-size: 2.5rem;
			font-weight: normal;
			max-width: 200px; // To wrap the subtitle to multiple lines
			text-align: end;
			margin: 0 auto;
			display: block;
		}

		&__boat {
			background: url("../images/tree.png") center center no-repeat;
			height: 237px;
			// Move the boat up a little to overlap the text above
			position: relative;
			opacity: .8;
			top: 0px;
		}

		// On bigger screens with enough space, we show the boat to the right of the
		// header text.
		@include for-tablets-and-larger {
			$boat-z-index: 0;
			position: relative; // To position the boat absolutely

			h1 {
				padding-top: 10px;

				// Align the text to the right with center line.
				padding-right: 50%;
				text-align: right;

				// Put the text over the boat and waves.
				position: relative;
				z-index: $boat-z-index + 1;
			}

			&__title {
				font-size: 8rem;
			}

			&__subtitle {
				font-size: 3.1rem;
				line-height: 1.2;
				max-width: 400px;
				margin: 0;
				float: right;
			}

			&__boat {
				width: 100%;
				position: absolute;
				top: 180px;
				// Move the boat off-center to the right.
				background-position: calc(50% + 220px) 50%;
				z-index: $boat-z-index;
			}
		}
	}

	.page-navbar {

		// Hide the navbar background if it navbar is part of the front-page header
		// which provides the background on its own.
		&:before {
			display: none;
		}
	}

	&__content {
		margin: 0 auto;
		max-width: $base-event-thumbnail-width * 2;

		&>h2 {
			@include secondary-font();
			font-size: 4rem;
			font-weight: 700;
			margin-top: 0;
		}
	}

	&__posts,
	&__events {
		overflow: hidden;
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
	}

	&__post {
		margin-bottom: $spacer * 2;
		@include fb-post-padding;

		width: 400px;
		flex-grow: 1;

		h3 {
			margin-top: 0;
		}

		&.fb {
			&>.content {
				max-height: 8.7rem;
				overflow: hidden;
			}

			&>.fade {
				position: relative;
				transform: translateY(6.75rem);
				height: 2rem;
				margin-bottom: -2rem;
				width: 100%;
				background: linear-gradient(transparent, #fff);
				display: block;
			}
		}

		// This is a neat hack :/ Due to WordPress' limitations of the
		// "excerpt_more" filter, we can't easily append a "Read more" link to the
		// post's excerpt, only a generic "..." string which is identified by the
		// wp-excerpt-more class. So we append that "Read more" link manually to all
		// excerpts but hide it by default...
		&__read-more {
			display: none;
		}

		// ...unless there is "..." present, indicating that there is more to read.
		.wp-excerpt-more~&__read-more {
			display: inline;
		}

		&:hover,
		&:focus {
			@include fb-post-active;

			.fade {
				background: linear-gradient(transparent, #dcdcdc);
			}
		}
	}

	@include for-desktops-and-larger {
		&__content {
			width: $front-page-width;
			max-width: none;
			justify-content: space-between;
		}
	}
}
