{extends @layout.latte}

<div n:block="page-content" class="archive">
	{foreach $posts as $p}
		<div class="archive__post">
			<h2 class="archive__post__headline">
				<a href="{$p|wp_permalink}">{$p|wp_title}</a>
			</h2>
			<p class="publish-info">{$p|wp_date}</p>

			{include "shared/post-body.latte", post => $p}
		</div>
	{/foreach}

	<div class="pagination">
		<div class="pagination__next" n:ifcontent>{$next|noescape}</div>
		<div class="pagination__prev" n:ifcontent>{$prev|noescape}</div>
	</div>

	<h1 class="event-thumbnail__date__day">Příspěvky z facebooku</h1>

	{ifset $fbPosts}
		{foreach $fbPosts as $f}
			<div class="archive__post">
				<p class="publish-info">{$f->date_time}</p>

				{include "shared/fb-post-body.latte", post => $f}
			</div>
		{/foreach}
	{else}
		Nepodařilo se najít žádné příspěvky z facebooku 😶
	{/ifset}
</div>
