{extends @layout.latte}

{block title}{php echo get_bloginfo(name)}{/block}

<div n:block="body" class="front-page">
	<div class="front-page__header">

		{include page-navbar}

		<h1>
			<span class="front-page__header__title">Mládež</span>
			<span class="front-page__header__subtitle">
				Moravskoslezského seniorátu
				ČCE
			</span>
		</h1>

		<div class="front-page__header__boat"></div>
	</div>

	<div class="page-content">
		<div class="front-page__content">
			<h2>Co se děje nového</h2>
			<div class="front-page__events">
				{if empty($upcomingEvents)}
					<p>Žádné nadcházející akce 😕</p>
				{else}
					{foreach $upcomingEvents as $event}
						{include "shared/event-thumbnail.latte", event => $event}
					{/foreach}
				{/if}

			</div>
			<div class="pagination">
				<div class="pagination__more">
					<a n:attr="href => get_post_type_archive_link('event')">Zobrazit všechny akce</a>
				</div>
			</div>

			<h2>Aktuality</h2>
			<div class="front-page__posts">
				<div n:foreach="$latestPosts as $latestPost" class="front-page__post" tabindex="0" onclick="location.href = {$latestPost|wp_permalink}">
					<h3>{$latestPost|wp_title}</h3>
					<p>
						{$latestPost|wp_excerpt}
						<a class="front-page__post__read-more" href="{$latestPost|wp_permalink}">Pokračovat &gt;</a>
					</p>
					<div class="publish-info">Publikováno {$latestPost|wp_date}</div>
				</div>
			</div>

			{if $fbPosts != null}
			<div class="front-page__posts">
				{foreach $fbPosts as $fbPost}
					{include 'shared/fb-post-body.latte', post=>$fbPost, class=>'front-page__post', info=>true}
				{/foreach}
			</div>
			{else}
				<img src="/assets/images/fb.svg">	Příspěvky z facebooku se nepodařilo načíst.
			{/if}
			<div class="pagination">
				<div class="pagination__more">
					<a n:attr="href => get_permalink(563)">Zobrazit všechny aktuality</a>
				</div>
			</div>
		</div>
	</div>
</div>
